body {
    width: 100%;
    background-color:  #e7e7e7;
    margin: 0;
}

#header {
font-family: 'Ubuntu', sans-serif;
    width: 100%;
    text-align: center;
    background-color:  #687aff;
    padding: 5px;
    height: 60px;
    position: fixed;
    top: 0;
}

#footer {
font-family: 'Ubuntu', sans-serif;
width: 100%;
height: 50px;
text-align: center;
background-color: #687aff;
padding-top: 25px;
transition: background-color, color 0.5s ease;
}

#footer:hover {
  background-color: #ffbb33;
  color: white;
}

#page {
width: 100%;
display: flex;
flex-direction: row;
margin-top: 70px;
}

#content {
width: 80%;
height: 750px;
}

#sidebar {
background-color: grey;
width: 20%;
height: 750px;
}

#sidebar li {
list-style:none;
padding-top: 10px;
}

#content2 {
width: 100%;
display: flex;
flex-direction: row;
}

#test {
width: 50%;
height: 300px;
padding: 5px;
background-color: #90ffba;
margin-top: 15px;
margin-left: 5px;
margin-right: 5px;
border: 2px solid #2dff7d;
border-radius: 25px 25px 0 0;
transition: background-color 0.5s ease;
background-color:  #46ff33;
}

#test:hover {
  background-color:  #338aff;
}

#libre {
width: 50%;
height: 300px;
padding: 5px;
background-color: #ffe26e;
margin-top: 15px;
margin-left: 5px;
margin-right: 5px;
border: 2px solid #ffb92d;
border-radius: 25px 25px 0 0;
}

#libre a {
color: red;
}

#libre a:hover {
color: white;
}

#time {
padding: 5px;
border: 1px solid black;
}

.droite {
    float: right;
}

.video {
    text-align: center;
    margin-bottom: 90px;
    height: 200px;
    margin-top: 20px;
}

/* Responsive layout */

@media screen and (max-width: 800px) {
    #content2 {
    flex-direction: column;
}

#libre {
width: 100%;
}

#test {
width: 100%;
}

@media screen and (max-width: 500px) {
    #page {
    display: flex;
    flex-direction: column;
    }
    
    #sidebar {
    width: 100%;
    }
